<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 

<mapper namespace="myMember">

   <resultMap id="result" type="Member">
     <result property="memberId" column="memberId" jdbcType="VARCHAR" javaType="String"/> 
     <result property="memberName" column="memberName" jdbcType="VARCHAR" javaType="String"/> 
     <result property="memberPw" column="memberPw" jdbcType="VARCHAR" javaType="String"/> 
   </resultMap>

   <select id="login" parameterType="Member" resultMap="result">
           <![CDATA[
            SELECT *
			FROM members
			WHERE memberId = #{memberId} AND
			      memberPw = #{memberPw};
			]]>	
   </select>

</mapper>