<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 생성자가 아닌 다른 방식으로 객체를 생성할때 ; factory-method로 명시해줘야함 -->
    <bean id="day" class="springIoc.sample04.AbstractDay" factory-method="getInstance"></bean>

</beans>
